menu "Adalight RGB configuration"

config USB_DEVICE_PID
	default 0x0001

module = ADALIGHT_RGB
module-str = ADALIGHT_RGB
source "subsys/logging/Kconfig.template.log_config"

endmenu

source "Kconfig.zephyr"
